* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none; 
}

body {
    height: 100vh;
    background: linear-gradient(to right,#9ca42b, #45490c);
}
    
.box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80%;
    margin: 2.5rem 0;
}

.box {
    width: 40%;
    height: auto;
    padding: 2rem 0.5rem;
    border-radius: 0.5rem;
    border: 0.1rem solid rgba(0,0,0,0.2);
    background: #ececec;
    text-align: center;
}

#title {
    font-size: 3.5rem;
    color: #9c9e7b;
    text-align: center;
    text-transform: uppercase;
    text-shadow: cadetblue;
    margin-bottom: 2rem;
}

#text-zone {
    font-size: 1.3rem;
    width: 80%;
    height: 70%;
    resize: none;
    border: 0.1rem solid rgba(0,0,0,0.1);
    border-radius: 0.3rem;
    box-shadow: 0 0 0.02rem 0.04rem rgba(0,0,0,0.1);
    padding: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0.5rem;
}

#count-increment {
    width: 6rem;
    height: 6rem;
    line-height: 2.2rem;
    font-size: 1.7rem;
    color: #222;
    background: #9c9e7b;
    padding: 0.25rem 1rem;
    border-radius: 50%;
}



@media screen and (max-width: 1023px) {
    #title {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }
    .box {
        width: 85%;
        height: auto;
    }
    
}



